<h1>Contact Me</h1>
<p>Please connect with me on any one of these sites below:</p>
<p><a href="https://www.linkedin.com/in/colinpmcnamara">LinkedIn</a></p>
<p><a href="https://github.com/coolinmc6">GitHub</a></p>
<p><a href="http://coolinmc6.github.io/websites/">Websites by Colin McNamara</a></p>
<p><a href="http://www.colinmc.me/">Personal Website</a></p>
