/ _footer.html.haml

.container-fluid
	#footer
		%p This Rails application made by Colin McNamara
		%p 
			Reach me on 
			= link_to "GitHub", "https://github.com/coolinmc6"
			or connect on 
			= link_to "LinkedIn", "https://www.linkedin.com/in/colinpmcnamara"
	